<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.collect.dao.CollectNetworkCardMapper" >

	<select id="getRealTimeDataAllCenterPc"
			resultType="com.jcca.web.collect.service.bean.CollectNetworkCardVo">
		select asset.name as asset_name,asset.ip as asset_ip, cd.* from
		(select c.* from COLLECT_NETWORK_CARD c,
		( select max(collect_code) as collect_code,asset_id from COLLECT_NETWORK_CARD group by asset_id) m
		where m.asset_id=c.asset_id and m.collect_code=c.collect_code) cd,
		(select a.* from asset a,sys_org s where a.ORG_ID=s.ID and s.TYPE=2 AND a.IS_DEL=1 AND a.DESK like '%183%') asset
		where asset.id=cd.asset_id
	</select>


    <update id="updateNetCardStatus">
        update COLLECT_NETWORK_CARD
        set STATUS = #{status}
        where ASSET_ID = #{assetId}
          and IP = #{ip}
          and STATUS = #{seachStatus}
    </update>



	<!-- 查询实时网卡信息 -->
	<select id="selectRealTimeData" resultType="com.jcca.web.collect.entity.CollectNetworkCard">
		SELECT *
		FROM COLLECT_NETWORK_CARD b
		WHERE b.COLLECT_CODE = (
			SELECT MAX(to_number(COLLECT_CODE)) AS code
			FROM COLLECT_NETWORK_CARD
			WHERE ASSET_ID = #{assetId}
		)
	</select>

	<!-- 通过 IP 查询最后一次记录 -->
	<select id="findLasterMacAddressByIp" resultType="com.jcca.web.collect.entity.CollectNetworkCard">
		SELECT *
		FROM COLLECT_NETWORK_CARD b
		WHERE b.COLLECT_CODE = (
			SELECT MAX(to_number(COLLECT_CODE)) AS code
			FROM COLLECT_NETWORK_CARD
			WHERE IP = #{ip}
		)
		  AND ip = #{ip}
	</select>

	<!-- 通过 MAC 地址查询命中的最新记录 -->
	<select id="selectByMacAddress" resultType="com.jcca.web.collect.entity.CollectNetworkCard">
		SELECT *
		FROM COLLECT_NETWORK_CARD b
		WHERE b.id = (
			SELECT MAX(id) AS code
			FROM COLLECT_NETWORK_CARD
			WHERE MAC_ADDRESS = #{atPhysAddress}
		)
	</select>

	<!-- 通过 MAC 地址和资产ID查询命中的最新记录 -->
	<select id="selectByMacAddressAndAssetId" resultType="com.jcca.web.collect.entity.CollectNetworkCard">
		SELECT *
		FROM COLLECT_NETWORK_CARD b
		WHERE b.COLLECT_CODE = (
			SELECT MAX(TO_NUMBER(COLLECT_CODE)) AS code
			FROM COLLECT_NETWORK_CARD
			WHERE MAC_ADDRESS = #{atPhysAddress}
			  AND ASSET_ID = #{assetId}
		)
	</select>

	<!-- 通过网卡名称查询指定资产的最新记录 -->
	<select id="findByNetworkName" resultType="com.jcca.web.collect.entity.CollectNetworkCard">
		SELECT *
		FROM COLLECT_NETWORK_CARD b
		WHERE b.id = (
			SELECT MAX(id) AS code
			FROM COLLECT_NETWORK_CARD
			WHERE NAME = #{networkName}
			  AND ASSET_ID = #{assetId}
		)
	</select>

</mapper>
