<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web2.dao.AssetModeMapper">

    <!-- 根据 code 查询资产类型 -->
    <select id="getByCode" parameterType="java.lang.Integer" resultType="com.jcca.web2.entity.AssetMode">
        SELECT *
        FROM asset_mode
        WHERE code = #{code}
    </select>

</mapper>
