<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.ChannelDataMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMChannelData">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CAPTURETIME" property="capturetime" jdbcType="TIMESTAMP"/>
        <result column="HEALTHSTATE" property="healthstate" jdbcType="VARCHAR"/>
        <result column="BUFFERSRECEIVED" property="buffersreceived" jdbcType="BIGINT"/>
        <result column="BUFFERSSENT" property="bufferssent" jdbcType="BIGINT"/>
        <result column="BYTESRECEIVED" property="bytesreceived" jdbcType="BIGINT"/>
        <result column="BYTESSENT" property="bytessent" jdbcType="BIGINT"/>
        <result column="CHANNELSTATUS" property="channelstatus" jdbcType="VARCHAR"/>
        <result column="MESSAGESTRANSFERRED" property="messagestransferred" jdbcType="BIGINT"/>
        <result column="MONITOR_ID" property="monitorId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CAPTURETIME,HEALTHSTATE,BUFFERSRECEIVED,BUFFERSSENT,BYTESRECEIVED,BYTESSENT,CHANNELSTATUS,MESSAGESTRANSFERRED,MONITOR_ID
    </sql>


</mapper>