<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.ConnectionMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMConnection">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR"/>
        <result column="DES_CRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="CONNECT_HOST" property="connectHost" jdbcType="VARCHAR"/>
        <result column="CONNECT_NAME" property="connectName" jdbcType="VARCHAR"/>
        <result column="CONNECT_PORT" property="connectPort" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CHANNEL_NAME,DES_CRIPTION,CONNECT_HOST,CONNECT_NAME,CONNECT_PORT,USER_ID
    </sql>


    <select id="findConnections" resultType="com.jcca.web.ibmMQ.domain.Connection">
        SELECT id,
               connect_port as port,
               connect_host as host,
               connect_name as name,
               des_cription as description,
               channel_Name as channelName,
               user_Id      as userId
        FROM IBMMQ_QMGR_CONNECTION

    </select>

    <!-- 通过连接名查询 -->
    <select id="findByName" parameterType="string"
            resultType="com.jcca.web.ibmMQ.entity.IBMConnection">
        select *
        from IBMMQ_QMGR_CONNECTION a
        where a.connect_name = #{connectionName}
    </select>

    <!-- 通过 host 和 port 查询 -->
    <select id="findByHostAndPort" parameterType="map"
            resultType="com.jcca.web.ibmMQ.entity.IBMConnection">
        select *
        from IBMMQ_QMGR_CONNECTION
        where connect_host = #{host}
          and connect_port = #{port}
    </select>
</mapper>