<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.HealthMessageMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMHealthMessage">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="LEVEL_VALUE" property="level" jdbcType="VARCHAR"/>
        <result column="RESULT" property="result" jdbcType="VARCHAR"/>
        <result column="RULE" property="rule" jdbcType="VARCHAR"/>
        <result column="TIME" property="time" jdbcType="TIMESTAMP"/>
        <result column="STATISTIC_ID" property="statisticId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,LEVEL_VALUE,result,rule,time,statistic_id
    </sql>


</mapper>