<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.MonitorMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMMonitor">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CATEGORY" property="category" jdbcType="VARCHAR"/>
        <result column="DATAEXPIRATIONTIME" property="dataexpirationtime" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="HEALTHRULE" property="healthrule" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="OBJECTNAME" property="objectname" jdbcType="VARCHAR"/>
        <result column="OBJECTTYPE" property="objecttype" jdbcType="VARCHAR"/>
        <result column="POLLINGINTERVAL" property="pollinginterval" jdbcType="VARCHAR"/>
        <result column="SCOPE" property="scope" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="VIEWTYPE" property="viewtype" jdbcType="VARCHAR"/>
        <result column="CONNECTIONID" property="connectionId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,category,dataExpirationTime,description,healthRule,name,objectName,objectType,pollingInterval,scope,slidingWindow,state,viewType,connection_id
    </sql>


    <select id="listMonitors" parameterType="java.lang.String" resultType="com.jcca.web.ibmMQ.entity.IBMMonitor">
        SELECT m.*,c.connect_name as connectionName,c.channel_name ,c.connect_host as host,c.connect_port as
        port,c.des_cription as connectionDescription

        FROM IBMMQ_MONITOR m
        LEFT JOIN IBMMQ_QMGR_CONNECTION c ON m.CONNECTIONID = c.id
        WHERE
        c.connect_name=#{connectName}
        <if test="paramState != null and paramState != ''">
            AND
            m.STATE = #{paramState}
        </if>
        <if test="paramScope != null and paramScope != ''">
            AND
            scope=#{paramScope}
        </if>
    </select>

    <select id="findMonitorByNameConnectionName" parameterType="java.lang.String"
            resultType="com.jcca.web.ibmMQ.entity.IBMMonitor">
        SELECT m.*,c.connect_name as connectionName,c.channel_name ,c.connect_host as host,c.connect_port as
        port,c.des_cription as connectionDescription

        FROM IBMMQ_MONITOR m
        LEFT JOIN IBMMQ_QMGR_CONNECTION c ON m.CONNECTIONID = c.id
        <if test="monitorName != null and monitorName != ''">
            WHERE
            m.name = #{monitorName}
        </if>
        <if test="connectionName != null and connectionName != ''">
            AND
            c.connect_name=#{connectionName}
        </if>

    </select>

    <!-- 查询监控列表 -->
    <select id="listMonitors" resultType="com.jcca.web.ibmMQ.entity.IBMMonitor">
        SELECT *
        FROM IBMMQ_MONITOR
        WHERE CONNECT_NAME = #{connectName}
        <if test="paramState != null and paramState != ''">
            AND HEALTHSTATUS = #{paramState}
        </if>
        <if test="paramScope != null and paramScope != ''">
            AND SCOPE = #{paramScope}
        </if>
    </select>

    <!-- 根据连接名和监控名查询 -->
    <select id="findMonitorByNameConnectionName" resultType="com.jcca.web.ibmMQ.entity.IBMMonitor">
        SELECT *
        FROM IBMMQ_MONITOR
        WHERE CONNECT_NAME = #{connectionName}
          AND NAME = #{monitorName}
    </select>

    <!-- 更新健康状态 -->
    <update id="updateHealthStatus">
        update IBMMQ_MONITOR
        set HEALTHSTATUS = #{healthStatus}
        where id = #{id}
    </update>

    <!-- 清除预警规则 -->
    <update id="cleanWarn">
        update IBMMQ_MONITOR
        set HEALTHRULE = null
        where id = #{id}
    </update>

    <!-- 更新预警规则 -->
    <update id="updateWarn">
        update IBMMQ_MONITOR
        set HEALTHRULE = #{rule}
        where id = #{id}
    </update>

    <!-- 删除告警信息 -->
    <delete id="deleteAlarmInfo">
        delete from ALARM_INFO
        where id in (
            select ALARM_ID
            from ALARM_EVENT_REL
            where EVENT_ID in (
                select ID from ALARM_EVENT where FLAG = #{id}
            )
        )
    </delete>

    <!-- 删除告警事件关联 -->
    <delete id="deleteAlarmEventREL">
        delete from ALARM_EVENT_REL
        where EVENT_ID in (
            select ID from ALARM_EVENT where FLAG = #{monitorId}
        )
    </delete>

    <!-- 删除告警事件 -->
    <delete id="deleteAlarmEvent">
        delete from ALARM_EVENT
        where FLAG = #{monitorId}
    </delete>


</mapper>