<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.StatisticalDataMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMStatisticalData">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CAPTURETIME" property="capturetime" jdbcType="TIMESTAMP"/>
        <result column="HEALTHSTATE" property="healthstate" jdbcType="VARCHAR"/>
        <result column="MONITOR_ID" property="monitorId" jdbcType="VARCHAR"/>
        <result column="DTYPE" property="dtype" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CAPTURETIME,HEALTHSTATE,MONITOR_ID,DTYPE
    </sql>

    <!-- 删除过期统计数据 -->
    <delete id="removeExpiredStatistics">
        delete from IBMMQ_STATISTICS_DATA
        where monitor_id = #{monitorId}
          and captureTime &lt; #{captureTime}
    </delete>


</mapper>