<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ibmMQ.dao.TopicDataMapper">

    <resultMap id="BaseResultMap" type="com.jcca.web.ibmMQ.entity.IBMTopicData">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="CAPTURETIME" property="capturetime" jdbcType="TIMESTAMP"/>
        <result column="HEALTHSTATE" property="healthstate" jdbcType="VARCHAR"/>
        <result column="PUBLISHEDMESSAGESCOUNT" property="publishedmessagescount" jdbcType="BIGINT"/>
        <result column="PUBLISHERSCOUNT" property="publisherscount" jdbcType="BIGINT"/>
        <result column="SUBSCRIBERSCOUNT" property="subscriberscount" jdbcType="BIGINT"/>
        <result column="MONITOR_ID" property="monitorId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CAPTURETIME,HEALTHSTATE,PUBLISHEDMESSAGESCOUNT,PUBLISHERSCOUNT,SUBSCRIBERSCOUNT,MONITOR_ID
    </sql>


</mapper>