<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.admin.biz.dao.AlarmTemplateMapper">

    <resultMap id="BaseResultMap" type="com.jcca.admin.biz.entity.AlarmTemplate">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="CATEGORY" property="category" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="SMALLINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,NAME,TITLE,VALUE,CATEGORY,REMARK,STATUS,CREATE_TIME,CREATOR,MODIFY_TIME,MODIFIER
    </sql>

    <!-- 通过类别查询模板 -->
    <select id="selectByCategory" parameterType="java.lang.String" resultType="com.jcca.admin.biz.entity.AlarmTemplate">
        SELECT *
        FROM alarm_template
        WHERE category = #{category}
    </select>
</mapper>