<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.admin.system.dao.SysActionLogMapper">

    <resultMap id="BaseResultMap" type="com.jcca.admin.system.entity.SysActionLog">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="LOG_NAME" property="logName" jdbcType="VARCHAR"/>
        <result column="LOG_TYPE" property="logType" jdbcType="SMALLINT"/>
        <result column="OPER_USER_IP" property="operUserIp" jdbcType="VARCHAR"/>
        <result column="LOG_CLASS" property="logClass" jdbcType="VARCHAR"/>
        <result column="LOG_METHOD" property="logMethod" jdbcType="VARCHAR"/>
        <result column="LOG_MODEL" property="logModel" jdbcType="VARCHAR"/>
        <result column="RECORD_ID" property="recordId" jdbcType="VARCHAR"/>
        <result column="LOG_MSG" property="logMsg" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,LOG_NAME,LOG_TYPE,OPER_USER_IP,LOG_CLASS,LOG_METHOD,LOG_MODEL,RECORD_ID,LOG_MSG,CREATE_TIME,CREATOR,MODIFY_TIME,MODIFIER
    </sql>

        <!-- 删除所有日志信息 -->
        <delete id="deleteAll" parameterType="java.lang.Boolean">
            DELETE FROM sys_action_log
        </delete>

        <!-- 查询采集数据（转存为文件） -->
        <select id="getData" parameterType="map" resultType="map">
            SELECT *
            FROM ${tableStr}
            WHERE ROWNUM &lt; 5000
              AND CREATE_TIME &lt; #{dateFormat}
            ORDER BY CREATE_TIME
        </select>

        <!-- 删除指定日期之前的数据 -->
        <delete id="removeData" parameterType="map">
            DELETE FROM ${tableStr}
            WHERE ROWNUM &lt; 5000
              AND CREATE_TIME &lt; #{dateFormat}
        </delete>

        <!-- 查询最新的一条日志 -->
        <select id="getLatestOne" resultType="com.jcca.admin.system.entity.SysActionLog">
            SELECT *
            FROM SYS_ACTION_LOG
            WHERE ROWNUM = 1
            ORDER BY ID DESC
        </select>

        <!-- 删除表中所有数据 -->
        <delete id="removeAllData" parameterType="map">
            DELETE FROM ${tableStr}
        </delete>
</mapper>