<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.admin.system.dao.SysFileMapper">

    <resultMap id="BaseResultMap" type="com.jcca.admin.system.entity.SysFile">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ORIGN_NAME" property="orignName" jdbcType="VARCHAR"/>
        <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR"/>
        <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR"/>
        <result column="MIME" property="mime" jdbcType="VARCHAR"/>
        <result column="FILE_SIZE" property="fileSize" jdbcType="VARCHAR"/>
        <result column="MD5" property="md5" jdbcType="VARCHAR"/>
        <result column="SHA1" property="sha1" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="SMALLINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,ORIGN_NAME,FILE_NAME,FILE_PATH,MIME,FILE_SIZE,MD5,SHA1,STATUS,CREATE_TIME,CREATOR,MODIFY_TIME,MODIFIER
    </sql>


</mapper>