<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.admin.system.dao.SysOrgMapper">

    <resultMap id="BaseResultMap" type="com.jcca.admin.system.entity.SysOrg">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="SMALLINT"/>
        <result column="PID" property="pid" jdbcType="VARCHAR"/>
        <result column="PIDS" property="pids" jdbcType="VARCHAR"/>
        <result column="SORT" property="sort" jdbcType="SMALLINT"/>
        <result column="STATUS" property="status" jdbcType="SMALLINT"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,TITLE,TYPE,PID,PIDS,SORT,STATUS,REMARK,CREATE_TIME,CREATOR,MODIFY_TIME,MODIFIER
    </sql>

    <select id="getOrgsByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select o.ID, o.TITLE, o.TYPE, o.PID, o.PIDS, o.SORT, o.STATUS
        from sys_org o
                 left join sys_role_org ro on o.id = ro.org_id
        where ro.role_id = #{roleId}
          and o.status = 1
    </select>

    <select id="getOrgsByUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select DISTINCT(o.ID), o.TITLE, o.TYPE, o.PID, o.PIDS, o.SORT, o.STATUS
        from sys_org o
        left join sys_role_org ro on o.id = ro.org_id
        left join sys_user_role ur on ro.role_id = ur.role_id
        left join sys_user u on u.id = ur.user_id
        where o.status = 1
        <if test="userId != null and userId !=''">
            and u.id = #{userId}
        </if>
        <if test="title != null and title != ''">
            and REGEXP_LIKE(o.title, #{title})
        </if>
        <if test="pid != null and pid != ''">
            and o.pid = #{pid}
        </if>
        <if test="notId != null and notId != ''">
            and o.pid != #{notId}
        </if>
        order by o.type, o.sort
    </select>


    <select id="getOrgsAsset" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name || '(' || asset_image || ')' as title, org_id as pid, asset_mode as type
        from asset
        where org_id in (select o.ID
                         from sys_org o
                                  left join sys_role_org ro on o.id = ro.org_id
                                  left join sys_user_role ur on ro.role_id = ur.role_id
                                  left join sys_user u on u.id = ur.user_id
                         where u.id = #{userId}
                           and o.status = 1
        )
          and asset.asset_mode in (201, 42)
          and asset.is_del = 1
        <if test="watch != null and watch != '' ">
            and asset.WATCH = #{watch}
        </if>
        order by ASSET_IMAGE asc
    </select>


    <select id="getRootOrgsAsset" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, name || '(' || asset_image || ')' as title, org_id as pid, asset_mode as type
        from asset
        where org_id in (select o.ID  from sys_org o where o.status = 1)
          and asset.asset_mode in (201, 42)
          and asset.is_del = 1
        <if test="watch != null and watch != '' ">
            and asset.WATCH = #{watch}
        </if>
        order by ASSET_IMAGE asc
    </select>

    <select id="getByAssetId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT o.ID,
               o.TITLE,
               o.TYPE,
               o.PID,
               o.PIDS,
               o.SORT,
               o.STATUS,
               o.REMARK
        FROM SYS_ORG o
                 LEFT JOIN ASSET_ATTACH a ON o.ID = a.ORG_ID
        WHERE a.ASSET_ID = #{assetId}
    </select>

    <select id="getOrgsByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from sys_org where status = 1 and id in
        (select org_id from sys_role_org where role_id in
        (select role_id from sys_user_role where user_id =
        (select user_id from sys_user where status = 1 and username = #{username})))
    </select>

    <select id="getTitleByOrgId" resultType="String" parameterType="java.lang.String">
        select TITLE
        from SYS_ORG
        where pid = #{pId}
          and status = 1
    </select>

</mapper>