<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.admin.system.dao.SysRoleOrgMapper">

    <resultMap id="BaseResultMap" type="com.jcca.admin.system.entity.SysRoleOrg">
        <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR"/>
        <id column="ORG_ID" property="orgId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ROLE_ID,ORG_ID
    </sql>


    <!-- 根据 orgId 查询 roleId 列表 -->
    <select id="findRoleIdsByOrgId" parameterType="string" resultType="string">
        SELECT role_id
        FROM sys_role_org
        WHERE org_id = #{orgId}
    </select>

    <!-- 根据 roleId + orgId 查询记录 -->
    <select id="getRoleByOrg" parameterType="map" resultType="com.jcca.admin.system.entity.SysRoleOrg">
        SELECT *
        FROM sys_role_org
        WHERE role_id = #{roleId}
          AND org_id = #{orgId}
    </select>
</mapper>