<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/hanwone">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/system/role/save}">
        <input type="hidden" name="id" th:if="${role}" th:value="${role.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label required">角色标识</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="name" placeholder="请输入角色标识" th:value="${role?.name}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">角色名称</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title" placeholder="请输入角色名称" th:value="${role?.title}">
            </div>
        </div>
        <div  style="display: none" class="layui-form-item">
            <label class="layui-form-label required">父级角色</label>
            <div class="layui-input-inline">
                 <input class="layui-input" id="orgTreeRole" th:attr="data-value='0'"
                       type="text" name="pid" placeholder="请输入父级组织" th:value='0' lay-filter="orgTreeRole">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <select class="select-sort" name="sort"
                        th:attr="data-url=@{/system/role/sortList}, data-id=${role?.id}, data-sort=${role?.sort}"
                        lay-verify="sort" lay-search></select>
            </div>
            <div class="layui-input-info">（之后）</div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${role?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<!--<script type="text/javascript" th:src="@{/js/module/treeSelect/treeSelect.js}"></script>-->
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>
<script type="text/javascript">
    $(function() {// 初始化内容
        // 初始化下拉树
        $.fn.selectTree({
            rootTree: '顶级'
        });
        var nowId = document.getElementById("orgTreeRole").value;
        layui.config({
            base: '../../../js/module/'
        }).extend({
            treeSelect: 'treeSelect/treeSelect'
        });
        layui.use(['form','treeSelect'], function () {
            window.form = layui.form;
            // 初始化排序下拉选项(编辑时初始化)
            var pid =  document.getElementById("orgTreeRole").value;
            if (pid != undefined&&pid!="") {
                var obj=new Object();
                var current=new Object();
                current.id=pid;
                obj.current=current;
                sortRender(obj);
            }
            var treeSelect= layui.treeSelect;

            treeSelect.render({
                // 选择器
                elem: '#orgTreeRole',
                // 数据
                data: '/system/role/list',
                // 异步加载方式：get/post，默认get
                type: 'get',
                // 占位符
                placeholder: '修改默认提示信息',
                // 是否开启搜索功能：true/false，默认false
                search: true,
                // 点击回调
                click: function(d){
                    sortRender(d)
                },
                // 加载完成后的回调函数
                success: function (d) {
                    console.log(d.data);
//                选中节点，根据id筛选
                    if(nowId) {
                        treeSelect.checkNode('orgTreeRole', nowId);
                    }

//                获取zTree对象，可以调用zTree方法
//                var treeObj = treeSelect.zTree('tree');
//                console.log(treeObj);

//                刷新树结构
//                treeSelect.refresh();
                }
            });
        });

    });
    // 更新渲染排序下拉选项
    function sortRender(nodes) {
        var treeNode = nodes.current
        var pid = treeNode.id;
        var sort = $(".select-sort");
        var id = sort.data('id') ? sort.data('id') : 0;
        var url = sort.data('url') + "/" + pid + "/" + id;
        $.get(url, function (result) {
            var options = '';
            var sortNum = Object.keys(result).length;
            if (pid === document.getElementById("orgTreeRole").value && sort.data('sort')) {
                sortNum = sort.data('sort') - 1;
            }
            result[0] = "首位";
            for (var key in result) {
                var selected = sortNum == key ? "selected=''" : "";
                options += "<option value='" + key + "' " + selected + ">" + result[key] + "</option>";
            }
            sort.html(options);
            form.render('select');
        });
    }
</script>
</body>
</html>