<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.asset.dao.AssetHidConfMapper">

    <!-- 通过资产和类型查询所有配置隐藏的信息 -->
    <select id="getFlagListByAsset" resultType="com.jcca.web.asset.entity.AssetHidConf">
        select flag
        from asset_hid_conf
        where asset_id = #{assetId}
          and type = #{type}
    </select>

    <!-- 通过 标记和资产ID查询是否存在配置的信息 -->
    <select id="selectListByAssetAndFlag" resultType="com.jcca.web.asset.entity.AssetHidConf">
        select *
        from asset_hid_conf
        where asset_id = #{assetId}
          and FLAG = #{flag}
    </select>

</mapper>