<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.collect.dao.CollectProcessMapper">

    <!-- 查询资产当前对应最新的进程数据 -->
    <select id="selectAssetNewProcess" resultType="com.jcca.web.collect.entity.CollectProcess">
        SELECT *
        FROM COLLECT_PROCESS b
        WHERE b.COLLECT_CODE = (
            SELECT MAX(to_number(COLLECT_CODE)) AS code
            FROM COLLECT_PROCESS
            WHERE ASSET_ID = #{assetId}
        )
    </select>

</mapper>
