<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.collect.dao.CollectDBMapper">

    <!-- 查询指定资产最新的数据库采集信息 -->
    <select id="selectRealTimeData" resultType="com.jcca.web.collect.entity.CollectDB">
        SELECT *
        FROM COLLECT_DB b
        WHERE ASSET_ID = #{assetId}
          AND b.COLLECT_CODE = (
            SELECT MAX(to_number(COLLECT_CODE)) AS code
            FROM COLLECT_DB
            WHERE ASSET_ID = #{assetId}
        )
    </select>

</mapper>
