<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.asset.dao.CollectHardwareMapper">

    <!-- 根据资产ID查询硬件采集信息 -->
    <select id="findByAssetId" resultType="com.jcca.web.asset.entity.CollectHardware">
        SELECT *
        FROM COLLECT_HARDWARE
        WHERE ASSET_ID = #{assetId}
    </select>

</mapper>
