<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.cycles.dao.CyclesOrgMapper">
    <insert id="saveBatch" parameterType="java.util.List">
        INSERT ALL
        <foreach collection="orgList" item="item" separator="">
            INTO cycles_org (id, cycles_info_id,org_pid,org_id)
            VALUES ( #{item.id}, #{item.cyclesInfoId}, #{item.orgPid}, #{item.orgId})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>