<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.ibmMQ.dao.IBMGroupMapper">

    <!-- 通过 name 和 connectId 查询分组 -->
    <select id="selectByName" parameterType="map"
            resultType="com.jcca.web.ibmMQ.entity.IBMGroup">
        select *
        from IBMMQ_GROUP
        where name = #{name}
          and CONNECT_ID = #{connectId}
    </select>

</mapper>
