<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.ip.dao.IpInfoMapper">

        <select id="selectIPVoV2" parameterType="java.lang.String" resultType="com.jcca.web2.vo.IpVo">
            SELECT a.id,a.ip,a.status,a.AUTH_STATUS as authStatus,a.PING_STATUS as pingStatus,a.remark,a.MASK,
                   a.GATEWAY,a.PING_DATE as pingDate,b.NAME as assetName,b.ID as assetId
                   FROM M_IP_INFO a left join ASSET b on (a.ip = b.ip or a.ip = b.ip2 or a.ip = b.IPMI_IP)
                    WHERE a.NET_WORK_ADDRESS_ID = #{netWorkId}
        </select>

    <!-- 批量插入 -->
    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO M_IP_INFO
        (ID, NET_WORK_ADDRESS_ID, IP, MAC, MASK, GATEWAY, STATUS, REMARK, CREATE_TIME, CREATOR, MODIFY_TIME, MODIFIER)
        VALUES
        <foreach collection="ipMsgList" item="item" index="index" separator=",">
            (#{item.id}, #{item.netWorkAddressId}, #{item.ip}, #{item.mac}, #{item.mask},
            #{item.gateway}, #{item.status}, #{item.remark}, #{item.createTime},
            #{item.creator}, #{item.modifyTime}, #{item.modifier})
        </foreach>
    </insert>

    <!-- 根据 IP 查询 -->
    <select id="selectByIp" resultType="com.jcca.web.ip.entity.IpInfo">
        SELECT *
        FROM M_IP_INFO
        WHERE IP = #{ip}
    </select>


</mapper>