<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.ibmMQ.dao.ListenerDataMapper">

    <!-- 删除过期数据 -->
    <delete id="removeExpiredStatistics">
        delete from IBMMQ_LISTENER_DATA
        where monitor_id = #{monitorId}
          and captureTime &lt; #{captureTime}
    </delete>

    <!-- 查询最新一条数据 -->
    <select id="queryLastDate" parameterType="string" resultType="com.jcca.web.ibmMQ.entity.IBMListenerData">
        select *
        from (
                 select *
                 from IBMMQ_LISTENER_DATA
                 where monitor_id = #{monitorId}
                 order by captureTime desc
             ) t
        where rownum = 1
    </select>

    <!-- 查询最新 50 条数据 -->
    <select id="queryDetailData" parameterType="string" resultType="com.jcca.web.ibmMQ.entity.IBMListenerData">
        select *
        from (
                 select *
                 from IBMMQ_LISTENER_DATA
                 where monitor_id = #{monitorId}
                 order by captureTime desc
             ) t
        where rownum &lt;= 50
    </select>

    <!-- 删除指定监控ID的所有数据 -->
    <delete id="removeStatistics" parameterType="string">
        delete from IBMMQ_LISTENER_DATA
        where monitor_id = #{monitorId}
    </delete>

</mapper>
