<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.common.dao.PropertyMapper">

    <!-- 查询最新的属性记录 -->
    <select id="selectProperty" resultType="com.jcca.web.common.entity.Property">
        select *
        from DH_PROPERTY
        where CREATE_TIME = (
            select max(CREATE_TIME)
            from DH_PROPERTY
        )
    </select>

    <!-- 查询最新的温度或湿度属性 -->
    <select id="selectThreeDProperty" resultType="com.jcca.web.common.entity.Property">
        select *
        from DH_PROPERTY
        where (NAME like '%温度' or NAME like '%湿度')
          and CREATE_TIME = (
            select max(CREATE_TIME)
            from DH_PROPERTY
        )
    </select>

</mapper>
