<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jcca.web.graph.dao.TopoAssetMarkMapper">

    <!-- 删除指定机构和节点类型的资产标记 -->
    <delete id="deleteAssetMark" parameterType="map">
        delete from TOPO_ASSET_MARK
        where ORG_ID = #{orgId}
          and NODE_TYPE = #{nodeType}
    </delete>

    <!-- 删除指定资产和节点类型的资产标记 -->
    <delete id="deleteNetWorkAssetMark" parameterType="map">
        delete from TOPO_ASSET_MARK
        where ASSET_ID = #{assetId}
          and NODE_TYPE = #{nodeType}
    </delete>

    <!-- 查询机构下的资产标记 -->
    <select id="queryAssetMark" parameterType="map"
            resultType="com.jcca.web.graph.entity.TopoAssetMark">
        select *
        from TOPO_ASSET_MARK
        where ORG_ID = #{orgId}
          and NODE_TYPE = #{nodeType}
        order by id
    </select>

    <!-- 查询资产的网络资产标记 -->
    <select id="queryNetWorkAssetMark" parameterType="map"
            resultType="com.jcca.web.graph.entity.TopoAssetMark">
        select *
        from TOPO_ASSET_MARK
        where ASSET_ID = #{assetId}
          and NODE_TYPE = #{nodeType}
        order by id desc
    </select>

</mapper>
