<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcca.web.graph.dao.TopoVertexMapper">

    <resultMap id="BaseResultMap"
               type="com.jcca.web.graph.entity.TopoVertex">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NODE_ID" property="nodeId" jdbcType="VARCHAR"/>
        <result column="ASSET_ID" property="assetId" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="A_B_FLAG" property="aBFlag" jdbcType="VARCHAR"/>
        <result column="NODE_TYPE" property="nodeType"
                jdbcType="VARCHAR"/>
        <result column="NODE_STYLE" property="nodeStyle"
                jdbcType="VARCHAR"/>
        <result column="NODE_PARENT" property="nodeParent"
                jdbcType="VARCHAR"/>

        <result column="SERVER_ROLE" property="serverRole"
                jdbcType="VARCHAR"/>
        <result column="SERVER_IP" property="serverIp"
                jdbcType="VARCHAR"/>
        <result column="SERVER_IP2" property="serverIp2"
                jdbcType="VARCHAR"/>
        <result column="CLUSTER_STATUS" property="clusterStatus"
                jdbcType="VARCHAR"/>

        <result column="NODE_X" property="nodeX" jdbcType="BIGINT"/>
        <result column="NODE_Y" property="nodeY" jdbcType="BIGINT"/>
        <result column="NODE_WIDTH" property="nodeWidth"
                jdbcType="BIGINT"/>
        <result column="NODE_HEIGHT" property="nodeHeight"
                jdbcType="BIGINT"/>
        <result column="NODE_CONNECTABLE" property="nodeConnectable"
                jdbcType="BIGINT"/>
        <result column="ORG_ID" property="orgId" jdbcType="VARCHAR"/>
        <result column="OFFSET_X" property="offsetX" jdbcType="BIGINT"/>
        <result column="OFFSET_Y" property="offsetY" jdbcType="BIGINT"/>
        <result column="IS_PORT" property="isPort" jdbcType="BIGINT"/>
        <result column="PORT_INDEX" property="portIndex"
                jdbcType="VARCHAR"/>
        <result column="WATCH" property="WATCH"
                jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,NODE_ID,NAME,NODE_TYPE,NODE_STYLE,NODE_PARENT,NODE_X,NODE_Y,NODE_WIDTH,NODE_HEIGHT,NODE_CONNECTABLE,ORG_ID,PORT_INDEX,WATCH
    </sql>

    <select id="selectNodeByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*, t.name as assetName,t.show_core as showCore,t.A_B_FLAG as aBFlag, t.id as assetId, t.org_id as
        assetOrgId, t.asset_mode as assetMode,t.watch
        FROM asset t
        left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id=v.org_id
        and v.node_type =#{nodeType}
        where t.ORG_ID = #{orgId} and t.SHOW_TOPO=1
        and
        t.ASSET_MODE in
        <foreach collection="assetModeList" item="mode" separator=","
                 open="(" close=")">
            #{mode}
        </foreach>
        and IS_DEL=1
        <if test="name != null and name != ''">
            and REGEXP_INSTR(t.name, #{name})>0
        </if>
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>


    <select id="selectNodeByAsset2"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*,t.show_core as showCore, t.name as assetName,t.A_B_FLAG as aBFlag, t.id as assetId, t.org_id as
        assetOrgId, t.asset_mode as assetMode,t.watch
        FROM asset t
        left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id=v.org_id and
        v.node_type =#{nodeType}
        where t.ORG_ID = #{orgId} and t.SHOW_TOPO=1
        and
        t.ASSET_MODE in
        <foreach collection="assetModeList" item="mode" separator=","
                 open="(" close=")">
            #{mode}
        </foreach>

        and IS_DEL=1
        <if test="name != null and name != ''">
            and REGEXP_INSTR(t.name, #{name})>0
        </if>
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>


    <select id="selectPcTopoNodeByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*, t.name as assetName, t.id as assetId, t.org_id as
        assetOrgId, t.asset_mode as assetMode,t.watch, '0' alarmLevel, f.view_url
        FROM asset t
        left join FILE_RELATE f on f.ITEM_ID = t.id
        left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id=v.org_id and
        v.node_type =#{nodeType}
        where t.ORG_ID = #{orgId}
        and t.ASSET_MODE = #{mode1} and t.DESK=1831 and IS_DEL=1
        <if test="name != null and name != ''">
            and REGEXP_INSTR(t.name, #{name})>0
        </if>
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>

    <select id="selectNetworkAssetTopoNodeByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*,
               t.name       as assetName,
               t.id         as assetId,
               t.org_id     as assetOrgId,
               t.asset_mode as assetMode,
               t.watch
        FROM asset t
                 left join TOPO_VERTEX v on t.id = v.asset_id and
                                            v.node_type = 'netWorkAsset_topo' and v.core_asset_id = #{assetId}
        where t.id in
              (select at_asset_id
               from COLLECT_ROUTE
               where asset_id = #{assetId}
                 and at_asset_id is not null)
           or t.id = #{assetId}
        order by is_port desc
    </select>

    <select id="selectNodeAlarmLevelByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               v.*,

               r.status      as clusterStatus,
               r.SERVER_ROLE as serverRole,
               r.SERVER_IP   as serverIp,
               r.SERVER_IP2  as serverIp2,

               t.name        as assetName,
               t.A_B_FLAG,
               t.id          as assetId,
               t.org_id      as assetOrgId,
               t.asset_image as assetImage,
               t.show_core   as showCore,
               t.asset_mode  as assetMode,
               t.watch
        FROM asset t
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id and v.NODE_TYPE = #{nodeType}
                 left join COLLECT_CLUSTER r on t.id = r.ASSET_ID and v.NAME = r.SERVER_NAME
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE a.ASSET_MODE IN (42, 201)
                              AND a.ORG_ID = #{orgId}
                              AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
                              and i.BLANK = 1
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and (t.ASSET_MODE = #{mode1} or t.ASSET_MODE = #{mode2})
          and IS_DEL = 1
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>

    <select id="selectNodeAlarmLevelByAsset2"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               v.*,
               r.status      as clusterStatus,
               r.SERVER_ROLE as serverRole,
               r.SERVER_IP   as serverIp,
               r.SERVER_IP2  as serverIp2,


               t.name        as assetName,
               t.id          as assetId,
               t.org_id      as assetOrgId,
               t.asset_image as assetImage,
               t.show_core   as showCore,
               t.watch,
               t.A_B_FLAG,
               t.asset_mode  as assetMode
        FROM asset t
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id and v.NODE_TYPE = #{nodeType}
                 left join COLLECT_CLUSTER r on t.id = r.ASSET_ID and v.NAME = r.SERVER_NAME
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE a.ASSET_MODE IN (42, 201, 183, 318)
                              AND a.ORG_ID = #{orgId}
                              AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
                              and i.BLANK = 1
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and (t.ASSET_MODE = #{mode1} or t.ASSET_MODE = #{mode2} or t.ASSET_MODE = 183 or t.ASSET_MODE = 318)

          and IS_DEL = 1
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>
    <select id="topoNetWorkVertexStatus"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmStatusVo">
        SELECT alarm.alarmLevel,
               v.node_id
        FROM asset t
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id and
                                            v.core_asset_id = #{assetId} and v.node_type = 'netWorkAsset_topo'
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE i.STATUS = 1
                               OR (i.STATUS = 2 AND i.ALARM_STATE = 1)
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where IS_DEL = 1
          and v.is_port is null
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>


    <select id="topoVertexStatus"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmStatusVo">
        SELECT alarm.alarmLevel,
        v.node_id
        FROM asset t
        left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id
        left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
        FROM ALARM_INFO i
        LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
        WHERE a.ASSET_MODE IN (42, 201)
        <if test="orgIds != null ">
            AND a.ORG_ID in
            <foreach collection="orgIds" item="orgId" separator=","
                     open="(" close=")">
                #{orgId}
            </foreach>
        </if>
        AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
        GROUP BY a.ID) alarm on t.id = alarm.id

        where
        <if test="orgIds != null ">
            t.ORG_ID in
            <foreach collection="orgIds" item="orgId" separator=","
                     open="(" close=")">
                #{orgId}
            </foreach>
            and
        </if>
        t.SHOW_TOPO = 1
        and (t.ASSET_MODE = 42 or t.ASSET_MODE = 201)
        <!-- and t.DESK = 0 -->
        and t.IS_DEL = 1
        and v.is_port is null
        and v.NODE_TYPE= #{nodeType}
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>

    <select id="selectPcTopoNodeAlarmLevelByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               v.*,
               t.name       as assetName,
               t.id         as assetId,
               t.org_id     as assetOrgId,
               t.watch,
               t.asset_mode as assetMode,
               f.view_url
        FROM asset t
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id and v.node_type = 'pc_topo'
                 left join FILE_RELATE f on f.ITEM_ID = t.id
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE i.BLANK = 1
                              AND a.ASSET_MODE = #{mode1}
                              AND a.ORG_ID = #{orgId}
                              AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and t.ASSET_MODE = #{mode1}
          and t.DESK = 1831
          and v.NODE_TYPE = #{nodeType}
          and IS_DEL = 1
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>

    <select id="selectNetWorkTopoNodeAlarmLevelByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               v.*,
               t.name        as assetName,
               t.id          as assetId,
               t.org_id      as assetOrgId,
               t.asset_image as assetImage,
               t.show_core   as showCore,
               t.watch,
               asset_mode    as assetMode
        FROM asset t
                 join TOPO_VERTEX v on t.id = v.asset_id and t.org_id =
                                                             v.org_id and v.node_type = 'netWorkAsset_topo' and
                                       v.core_asset_id = #{assetId}
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE a.ORG_ID = #{orgId}
                              AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and IS_DEL = 1
        order by CASE WHEN v.name IS NULL THEN 1 ELSE 0 END, v.name
    </select>


    <select id="selectNodeAlarmLevelByCabnet2"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
        v.*,
        t.name as assetName,
        t.id as assetId,
        t.org_id as assetOrgId,
        t.row_index as rowIndex,
        t.COLUMN_INDEX as columnIndex,
        f.VIEW_URL
        FROM (select distinct c.id, c.name, c.row_index, c.COLUMN_INDEX, a.org_id, a.id as room_id
        from cabinet c,
        room a
        where a.id = c.room_id
        and a.id = #{orgId}) t
        left join TOPO_VERTEX v on v.asset_id = t.id and v.org_id = t.room_id
        left join FILE_RELATE f on t.id = f.ITEM_ID
        left join (SELECT c.ID id, MIN(i.ALARM_LEVEL) alarmLevel
        FROM CABINET c
        LEFT JOIN ROOM r ON c.ROOM_ID = r.ID
        LEFT JOIN ASSET_ATTACH a ON a.CABINET_ID = c.ID
        LEFT JOIN ALARM_INFO i ON a.ASSET_ID = i.ASSET_ID
        LEFT JOIN ASSET aa on aa.id = a.ASSET_ID
        WHERE (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
        and i.BLANK = 1
        AND r.ID = #{orgId}
        <if test="showJcca == 2">
            and (aa.ASSET_SUPPLIER != 'JCCA' or aa.ASSET_SUPPLIER is null)
        </if>
        GROUP BY c.ID) alarm on t.id = alarm.id
        where t.room_id = #{orgId}
    </select>

    <select id="selectNodeAlarmLevelByCabnet"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               v.*,
               t.name         as assetName,
               t.id           as assetId,
               t.org_id       as assetOrgId,
               t.row_index    as rowIndex,
               t.COLUMN_INDEX as columnIndex
        FROM (select distinct t.id, t.name, t.row_index, t.COLUMN_INDEX, a.org_id
              from cabinet t,
                   room a
              where a.id = t.room_id
                and a.org_id = #{orgId}) t
                 left join TOPO_VERTEX v on v.asset_id = t.id and v.org_id = t.org_id
                 left join (
            SELECT c.ID id, MIN(i.ALARM_LEVEL) alarmLevel
            FROM CABINET c
                     LEFT JOIN ROOM r ON c.ROOM_ID = r.ID
                     LEFT JOIN ASSET_ATTACH a ON a.CABINET_ID = c.ID
                     LEFT JOIN ALARM_INFO i ON a.ASSET_ID = i.ASSET_ID
            WHERE (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
              and i.BLANK = 1
              AND r.ORG_ID = #{orgId}
            GROUP BY c.ID
        ) alarm on t.id = alarm.id
        where t.ORG_ID = #{orgId}
    </select>

    <select id="selectNodeByCabnet"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*,
               t.name   as assetName,
               t.id     as assetId,
               t.org_id as
                           assetOrgId,
               row_index,
               column_index
        FROM (select distinct t.id, t.name, a.org_id, t.row_index, t.column_index
              from cabinet t,
                   room a
              where a.id = t.room_id
                and a.org_id = #{orgId}) t
                 left join TOPO_VERTEX v on v.asset_id = t.id and v.org_id = t.org_id
        where t.ORG_ID = #{orgId}
        order by row_index, column_index
    </select>

    <select id="selectCabinetNodeV2"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*, t.name as assetName, t.id as assetId, t.org_id as assetOrgId, row_index, column_index
        FROM (select distinct c.id, c.name, r.id as org_id, c.row_index, c.column_index
              from cabinet c,
                   room r
              where r.id = c.room_id
                and r.id = #{roomId}) t
                 left join TOPO_VERTEX v on v.asset_id = t.id and v.org_id = t.org_id
        where t.ORG_ID = #{roomId}
        order by row_index, column_index
    </select>

    <select id="findPortStatus"
            resultType="com.jcca.web.graph.vo.TopoPortStatus"
            parameterType="java.util.Map">
        select p.asset_id, p.status, v.node_id
        from topo_asset_port p
        left join topo_vertex v on p.asset_id = v.asset_id and p.port_index =
        v.port_index
        left join asset a on a.id = p.asset_id
        where v.is_port = 1
        and a.is_del = 1
        <if test="params.orgIds != null">
            and a.org_id in
            <foreach collection="params.orgIds" item="orgId"
                     separator="," open="(" close=")">
                #{orgId}
            </foreach>
        </if>
        <if test="params.status != null and params.status != ''">
            and p.status = #{params.status}
        </if>
    </select>

    <select id="findNetWorkPortStatus" parameterType="java.util.Map"
            resultType="com.jcca.web.graph.vo.TopoPortStatus">
        select p.asset_id, p.status, v.node_id
        from topo_asset_port p
                 join topo_vertex v on p.asset_id = v.asset_id and
                                       p.port_index = v.port_index and v.node_type = 'netWorkAsset_topo' and
                                       v.core_asset_id = #{assetId}
                 left join asset a on a.id = p.asset_id
        where v.is_port = 1
          and a.is_del = 1
    </select>

    <select id="findNetWorkDownPort" parameterType="java.util.Map"
            resultType="com.jcca.web.graph.vo.TopoPortStatus">
        select p.asset_id, p.status, v.node_id
        from topo_asset_port p
                 join topo_vertex v on p.asset_id = v.asset_id and
                                       p.port_index = v.port_index and v.node_type = 'netWorkAsset_topo' and
                                       v.core_asset_id = #{assetId}
                 left join asset a on a.id = p.asset_id
        where v.is_port = 1
          and a.is_del = 1
          and p.STATUS = 2
    </select>

    <select id="queryTarget" parameterType="java.util.Map"
            resultType="com.jcca.admin.biz.vo.AssetTargetVo">
        select localAssetId, targetAssetName, targetAssetId, localPortIndex, targetPortIndex
        from (select c.asset_id         localAssetId,
                     a.name             targetAssetName,
                     a.id               targetAssetId,
                     port_index_name    localPortIndex,
                     at_port_index_name targetPortIndex
              from asset a,
                   collect_route c
              where a.id = c.at_asset_id
                and c.asset_id = #{assetId}
                and a.asset_mode in (201, 42))
        group by localAssetId, targetAssetName, targetAssetId, localPortIndex, targetPortIndex

    </select>

    <select id="queryTargetAll" parameterType="java.util.Map"
            resultType="com.jcca.admin.biz.vo.AssetTargetVo">
        select c.asset_id         localAssetId,
               a.name             targetAssetName,
               a.id               targetAssetId,
               port_index_name    localPortIndex,
               at_port_index_name targetPortIndex
        from asset a,
             collect_route c
        where a.id = c.at_asset_id
          and c.asset_id = #{assetId}

    </select>


    <select id="queryPortIScorrect" parameterType="java.util.Map"
            resultType="com.jcca.admin.biz.vo.AssetTargetVo">
        select c.asset_id         localAssetId,
               a.name             targetAssetName,
               a.id
                                  targetAssetId,
               port_index_name    localPortIndex,
               at_port_index_name targetPortIndex
        from asset a,
             collect_route c
        where a.id = c.asset_id
          and a.id = #{localId}
          and c.at_asset_id = #{targetId}
    </select>

    <select id="findMaAssetAndPort" resultType="com.jcca.web.collect.controller.route.bean.AssetLinkAssetVo">
        select asset_id, port_index, maOrAt, maAssetId, maPort
        from (
                 select v.asset_id, v.port_index, '1' as maOrAt, vv.asset_id maAssetId, vv.port_index maPort
                 from topo_vertex v
                          left join topo_edge e on v.node_id = e.edge_source
                          left join topo_vertex vv on vv.node_id = e.edge_target
                 where v.asset_id != vv.asset_id
                   and v.port_index is not null
                   and v.node_type = 'net_topo')
        where maPort is not null
        group by asset_id, port_index, maOrAt, maAssetId, maPort
    </select>

    <select id="selectWanTopoNodeByAsset" resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT v.*, t.name as assetName,t.A_B_FLAG as aBFlag, t.id as assetId, t.org_id as assetOrgId,
        t.asset_mode as assetMode,t.watch, t.show_core, f.view_url
        FROM asset t
        left join TOPO_VERTEX v on t.id = v.asset_id and v.node_type = 'wan_topo'
        left join FILE_RELATE f on f.ITEM_ID = t.id
        where t.SHOW_TOPO = 1 and t.IS_DEL = 1 and t.asset_mode = 42
        and t.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by t.name
    </select>



    <select id="selectAllTopoNodeAlarmLevelByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        SELECT alarm.alarmLevel,
               c.CABINET_ID,
               cc.ROW_INDEX    as roww,
               cc.COLUMN_INDEX as col,
               v.*,
               t.name          as assetName,
               t.id            as assetId,
               t.org_id        as assetOrgId,
               t.asset_image   as assetImage,
               t.show_core     as showCore,
               t.watch,
               t.A_B_FLAG,
               t.asset_mode    as assetMode,
               f.VIEW_URL
        FROM asset t
                 left join ASSET_ATTACH c on t.id = c.ASSET_ID
                 left join CABINET cc on c.CABINET_ID = cc.id
                 left join FILE_RELATE f on f.ITEM_ID = t.id
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id AND v.node_type = 'all_topo'
                 left join (SELECT a.ID, MIN(i.ALARM_LEVEL) alarmLevel
                            FROM ALARM_INFO i
                                     LEFT JOIN ASSET a ON i.ASSET_ID = a.ID
                            WHERE a.ASSET_MODE IN (42, 201, 183)
                              AND a.ORG_ID = #{orgId}
                              AND (i.STATUS = 1 OR (i.STATUS = 2 AND i.ALARM_STATE = 1))
                              and i.BLANK = 1
                            GROUP BY a.ID) alarm on t.id = alarm.id

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and IS_DEL = 1
        order by col, roww, v.name
    </select>


    <select id="selectAllTopoNodeByLine"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
      SELECT
            v.*,
            o.title  as assetName,
            o.id    as assetId,
            'line' as assetMode
           FROM sys_org o
           left join TOPO_VERTEX v on o.id  = v.asset_id AND v.node_type ='all_topo'
           where o.type=3 and o.PID = #{orgId}
           order by v.name
    </select>

    <select id="selectAllTopoNodeByAsset"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
 SELECT
 			   c.CABINET_ID,
			   cc.ROW_INDEX as roww,
			   cc.COLUMN_INDEX as col,
               v.*,
               t.name        as assetName,
               t.id          as assetId,
               t.org_id      as assetOrgId,
               t.asset_image as assetImage,
               t.show_core   as showCore,
               t.watch,
               t.A_B_FLAG,
               t.asset_mode  as assetMode
        FROM asset t
				 left join ASSET_ATTACH c on t.id = c.ASSET_ID
                 left join CABINET cc on c.CABINET_ID = cc.id
                 left join TOPO_VERTEX v on t.id = v.asset_id and t.org_id = v.org_id  AND v.node_type ='all_topo'

        where t.ORG_ID = #{orgId}
          and t.SHOW_TOPO = 1
          and IS_DEL = 1
        order by col,roww ,v.name

    </select>

    <select id="selectAllTopoNodeByLine2"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
      SELECT
            v.*,
            o.title  as assetName,
            o.id    as assetId,
            'line' as assetMode
           FROM sys_org o
           left join TOPO_VERTEX v on o.id  = v.asset_id AND v.node_type ='all_topo'
           where o.type=3  and o.PID = #{orgId}
           order by v.name
    </select>


    <!-- 删除机构下的拓扑节点 -->
    <delete id="deleteTopoVertex" parameterType="map">
        delete from TOPO_VERTEX
        where NODE_TYPE = #{nodeType}
          and ORG_ID = #{orgId}
    </delete>

    <!-- 删除资产下的拓扑节点 -->
    <delete id="deleteNetWorkAssetTopoVertex" parameterType="map">
        delete from TOPO_VERTEX
        where NODE_TYPE = #{nodeType}
          and CORE_ASSET_ID = #{assetId}
    </delete>

    <!-- 查询线下车站路由器 -->
    <select id="selectLineRoutNetTopo" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT V.*, t.show_core as showCore,
               T.NAME AS assetName, T.ID AS assetId, T.ORG_ID AS assetOrgId, ASSET_MODE AS assetMode
        FROM ASSET T
                 LEFT JOIN TOPO_VERTEX V ON T.ID = V.ASSET_ID AND #{reqID} = V.ORG_ID
        WHERE T.ORG_ID IN (SELECT ID FROM SYS_ORG WHERE PID = #{reqID})
          AND T.ASSET_MODE = 42
          AND T.SHOW_TOPO = 1
          AND T.IS_DEL = 1
    </select>

    <!-- 查询线下车站交换机 -->
    <select id="selectLineSwitchNetTopo" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT V.*, t.show_core as showCore,
               T.NAME AS assetName, T.ID AS assetId, T.ORG_ID AS assetOrgId, ASSET_MODE AS assetMode
        FROM ASSET T
                 LEFT JOIN TOPO_VERTEX V ON T.ID = V.ASSET_ID AND #{reqID} = V.ORG_ID
        WHERE T.ORG_ID IN (SELECT ID FROM SYS_ORG WHERE PID = #{reqID})
          AND T.ASSET_MODE = 201
          AND T.SHOW_TOPO = 1
          AND T.IS_DEL = 1
    </select>

    <!-- 查询线上中心核心网络设备 -->
    <select id="selectLineCenterTopo" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexVo">
        SELECT V.*, t.show_core as showCore,
               T.NAME AS assetName, T.ID AS assetId, T.ORG_ID AS assetOrgId, ASSET_MODE AS assetMode
        FROM (
                 SELECT * FROM ASSET
                 WHERE ORG_ID = (SELECT PID FROM SYS_ORG WHERE ID = #{reqID})
                   AND ASSET_MODE IN (42,201)
                   AND SHOW_CORE = 'SHOW_TOPO_@_SHOW'
                   AND SHOW_TOPO = 1
                   AND IS_DEL = 1
             ) t
                 LEFT JOIN TOPO_VERTEX V ON T.ID = V.ASSET_ID AND #{reqID} = V.ORG_ID
        ORDER BY V.NAME
    </select>

    <!-- 前端线路TOPO加载-车站路由器告警级别 -->
    <select id="selectLineRoutNetTopoAlarmLevel" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        select a.aLevel AS alarmLevel, v.*,
               t.name as assetName, t.id as assetId, t.show_core as showCore,
               t.org_id as assetOrgId, t.asset_image as assetImage, t.watch, asset_mode as assetMode
        from topo_vertex v
                 left join (
            select asset.* from asset
                                    join sys_org on asset.org_id = sys_org.id
            where sys_org.type = 4
        ) t on t.id = v.asset_id
                 left join (
            select asset_id, MIN(alarm_level) as aLevel
            from alarm_info
            where BLANK = 1 and (STATUS = 1 OR ALARM_STATE = 1)
            group by asset_id
        ) a on a.asset_id = t.id
        where v.org_id = #{reqID}
          and t.asset_mode = 42
          and t.show_topo = 1
          and t.is_del = 1
        order by v.name
    </select>

    <!-- 前端线路TOPO加载-车站交换机告警级别 -->
    <select id="selectLineSwitchNetTopoAlarmLevel" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        select a.aLevel AS alarmLevel, v.*,
               t.name as assetName, t.id as assetId, t.show_core as showCore,
               t.org_id as assetOrgId, t.asset_image as assetImage, t.watch, asset_mode as assetMode
        from topo_vertex v
                 left join (
            select asset.* from asset
                                    join sys_org on asset.org_id = sys_org.id
            where sys_org.type = 4
        ) t on t.id = v.asset_id
                 left join (
            select asset_id, MIN(alarm_level) as aLevel
            from alarm_info
            where BLANK = 1 and (STATUS = 1 OR ALARM_STATE = 1)
            group by asset_id
        ) a on a.asset_id = t.id
        where v.org_id = #{reqID}
          and t.asset_mode = 201
          and t.show_topo = 1
          and t.is_del = 1
        order by v.name
    </select>

    <!-- 前端线路TOPO加载-中心网络设备告警级别 -->
    <select id="selectLineCenterTopoAlarmLevel" parameterType="string"
            resultType="com.jcca.web.graph.vo.TopoVertexAlarmLevelVo">
        select a.aLevel AS alarmLevel, v.*,
               t.name as assetName, t.id as assetId, t.show_core as showCore,
               t.org_id as assetOrgId, t.asset_image as assetImage, t.watch, asset_mode as assetMode
        from topo_vertex v
                 left join (
            select asset.* from asset
                                    join sys_org on asset.org_id = sys_org.id
            where sys_org.type = 2
        ) t on t.id = v.asset_id
                 left join (
            select asset_id, MIN(alarm_level) as aLevel
            from alarm_info
            where BLANK = 1 and (STATUS = 1 OR ALARM_STATE = 1)
            group by asset_id
        ) a on a.asset_id = t.id
        where v.org_id = #{reqID}
          and t.asset_mode in (42,201)
          and t.show_topo = 1
          and t.is_del = 1
        order by v.name
    </select>

    <!-- 查询异常端口 -->
    <select id="findDownPort" parameterType="map"
            resultType="com.jcca.web.graph.vo.TopoPortStatus">
        select v.asset_id as assetId, v.node_id as nodeId, a.status as status
        from topo_vertex v
                 left join topo_asset_port a
                           on v.asset_id = a.asset_id
                               and v.port_index = a.port_index
        where v.org_id = #{orgId}
          and v.node_type = #{nodeType}
          and a.status = 2
          and v.is_port = 1
    </select>

    <!-- 查询中心机柜节点 -->
    <select id="selectNodeByCenterCabinetV2" parameterType="string"
            resultType="com.jcca.web2.vo.CabinetTopoVo">
        SELECT t.*, v.*
        FROM (
                 select r.id as roomId, r.name roomName,
                        c.id as cabinetId, c.name as cabinetName,
                        c.row_index, c.column_index
                 from cabinet c
                          right join room r on c.room_id = r.id
                 where r.org_id = #{orgId}
             ) t
                 left join topo_vertex v on v.asset_id = t.cabinetId
        order by row_index, column_index
    </select>

    <!-- 查询中心机柜告警 -->
    <select id="selectAlarmByCenterCabinetV2" parameterType="string"
            resultType="com.jcca.web2.vo.CabinetTopoVo">
        SELECT a.cabinet_id, MIN(i.alarm_level) alarmLevel
        FROM asset_attach a
                 LEFT JOIN alarm_info i ON a.asset_id = i.asset_id
        WHERE (i.status = 1 OR i.alarm_state = 1)
          AND i.blank = 1
          AND i.alarm_level > 0
          AND a.org_id = #{orgId}
          AND a.cabinet_id IS NOT NULL
        GROUP BY a.cabinet_id
    </select>

    <!-- 查询中心机柜 -->
    <select id="selectCenterCabinetByOrgV2" parameterType="string"
            resultType="com.jcca.web2.vo.CabinetTopoVo">
        select r.id as roomId, r.name roomName,
               c.id as cabinetId, c.name as cabinetName,
               c.row_index as rowIndex, c.column_index as columnIndex
        from cabinet c
                 right join room r on c.room_id = r.id
        where r.org_id = #{orgId}
          and c.id is not null
    </select>

    <!-- 查询业务中心TOPO -->
    <select id="findTopoCenterQuery" parameterType="map"
            resultType="com.jcca.web2.vo.BizTopoCenterVo">
        select a.id assetId, a.name assetName, a.ip assetIp, a.org_id orgId,
               a.service_type_id, b.alarm_status, b.host_type
        from asset a
                 left join broker_topo_business b on a.id = b.asset_id
        where a.service_type_id is not null
          and a.org_id = #{orgId}
          and a.service_type_id = #{serviceTypeId}
    </select>

</mapper>
